[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.109.0"
uvicorn = "==0.27.0"
sqlalchemy = "==2.0.25"
netmiko = "==4.3.0"
pydantic = "==2.6.1"
pysqlite3 = "*"
python-multipart = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.12"
